<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.0.0
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- user_action_log -->
<mapper namespace="com.shengtian.lanfu.dao.NoticeDao">
<!-- 查询公告消息 -->
<select id="selectlistNotice" resultType="Notice">
SELECT id,message,state FROM notice_message  where  state=1 ORDER BY id DESC

</select>

</mapper>